h1 {
    padding: 55px 0;
    color: silver;
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: url(img/44807662a7f082fc9d5fc22e235d2095.gif) no-repeat center center / cover;

}